<%-include("./includes/header")%>
    <link rel="stylesheet" href="/CSS/addProduct.css">
    <link rel="stylesheet" href="/CSS/modifier.css">
    <link rel="stylesheet" href="/CSS/general.css">
    <title>Add Product</title>
    </head>

    <body>
        <div class="addProduct_wall"></div>
        <nav class="navbar w-100">
            <div class="container d-flex justify-content-evenly">
                <div class="navbar-brand"><a href="/admin/">Admin</a></div>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link nav-link-fade-up" aria-current="page" href="/admin">Home</a>
                    </li>
                    <%if(member.mb_type==="ADMIN"){%>
                        <li class="nav-item">
                            <a class="nav-link nav-link-fade-up" aria-current="page"
                                href="/admin/companies/?order=ALL">Companies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-fade-up" aria-current="page"
                                href="/admin/all-users/?order=ALL">Users</a>
                        </li>
                        <%}else if(member.mb_type==="COMPANY" ){%>
                            <li class="nav-item">
                                <a class="nav-link nav-link-fade-up" aria-current="page"
                                    href="/admin/products/?order=ALL">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-fade-up" aria-current="page" id="active"
                                    href="/admin/create-product">Add Product</a>
                            </li>
                            <%}%>
                                <li class="nav-item">
                                    <a class="nav-link nav-link-fade-up" href="/admin/notifications">Notification</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link nav-link-fade-up" href="/admin/my-page">My Page</a>
                                </li>
                </ul>
                <div class="avatar d-flex gap-3 align-items-center">
                    <a href="/admin/my-page">
                        <img src=<%-member.mb_image? `../${member.mb_image}`:"/icons/default_user.svg"%>
                        class="avatar_img"
                        alt="">
                    </a>

                    <a href="/admin/notifications" class="position-relative nav-item text-dark">
                        <i class="fa-regular fa-envelope"></i>
                        <span class="position-absolute top-0 start-100 translate-middle p-2 bg-success border border-light rounded-circle">
                        
                        </span>
                    </a>
                    <a href="/admin/logout" class="btn btn-outline-secondary m-auto">Logout</a>
                </div>
            </div>
        </nav>
        <h1 class="fs-1 text-center text-dark mt-4 fw-bold">Add Your Product</h1>
        <div class="demo-page">

            <!--navigation-->
            <div class="demo-page-navigation">
                <nav>
                    <ul>
                        <li>
                            <a href="#product_name">
                                <i class="fa-solid pe-2 fa-signature"></i>
                                Product Name
                            </a>
                        </li>
                        <li>
                            <a href="#photo_insert">
                                <i class="fa-solid pe-2 fa-photo-film"></i>
                                Insert Photo
                            </a>
                        </li>
                        <li>
                            <a href="#color">
                                <i class="fa-solid pe-2 fa-palette"></i>
                                Color
                            </a>
                        </li>
                        <li>
                            <a href="#display">
                                <i class="fa-solid pe-2 fa-display"></i>
                                Display
                            </a>
                        </li>
                        <li>
                            <a href="#core">
                                <i class="fa-solid pe-2 fa-mobile"></i>
                                Core & Chip
                            </a>
                        </li>
                        <li>
                            <a href="#memory">
                                <i class="fa-solid pe-2 fa-database"></i>
                                Memory
                            </a>
                        </li>

                        <li>
                            <a href="#ram">
                                <i class="fa-solid pe-2 fa-memory"></i>
                                Ram
                            </a>
                        </li>
                        <li>
                            <a href="#camera">
                                <i class="fa-solid pe-2 fa-camera-retro"></i>
                                Mobile Camera
                            </a>
                        </li>
                        <li>
                            <a href="#price">
                                <i class="fa-solid pe-2 fa-sack-dollar"></i>
                                Product Price
                            </a>
                        </li>
                        <li>
                            <a href="#monthly_fee">
                                <i class="fa-solid pe-2 fa-calendar"></i>
                                Monthly Payment
                            </a>
                        </li>
                        <li>
                            <a href="#description">
                                <i class="fa-solid pe-2 fa-comment-dots"></i>
                                Product Description</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!--navigation-->

            <!-- Page Content -->
            <form method="POST" action="/product/create-product" class="demo-page-content"
                enctype="multipart/form-data">

                <!--Poduct Name-->
                <section id="product_name" class="product_name d-flex flex-column position-relative">
                    <div class="product_name">
                        <label for="name" class="form-label fs-1 mb-5">Mobile Phone Name</label>
                        <input type="text" name="product_name" class="form-control p-4 fs-6" id="name"
                            placeholder="ex.Iphone 14 Pro Max">
                    </div>
                    <a href="#photo_insert" class="btn btn-outline-success align-self-end"
                        style="position: absolute;bottom: 2rem;width: 15rem;">Next</a>
                </section>
                <!--Poduct Name-->

                <!--Photo Insert-->
                <section id="photo_insert"
                    class="photo_insert d-flex flex-column justify-content-center align-items-center"
                    style="position: relative;">
                    <div class="cards mb-5 gap-3 d-flex flex-wrap">
                        <div class="card">
                            <div class="card_photo">
                                <img src="/icons/upload.svg" alt="avatar" class="image_1">
                            </div>
                            <div class="card-footer position-relative">
                                <input type="file" name="product_images" class="product_image_1"
                                    onchange="previewFileHandler(this, 1)" required>
                                <button type="button" class="btn btn-success w-100 cursor-pointer"
                                    style="top:0; right: 0;"><i class="fa-solid fa-upload"></i></button>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card_photo">
                                <img src="/icons/upload.svg" alt="avatar" class="image_2">
                            </div>
                            <div class="card-footer position-relative">
                                <input type="file" name="product_images" class="product_image_2"
                                    onchange="previewFileHandler(this, 2)">
                                <button type="button" class="btn btn-success w-100 cursor-pointer"
                                    style="top:0; right: 0;"><i class="fa-solid fa-upload"></i></button>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card_photo">
                                <img src="/icons/upload.svg" alt="avatar" class="image_3">
                            </div>
                            <div class="card-footer position-relative">
                                <input type="file" name="product_images" class="product_image_3"
                                    onchange="previewFileHandler(this, 3)">
                                <button type="button" class="btn btn-success w-100 cursor-pointer"
                                    style="top:0; right: 0;"><i class="fa-solid fa-upload"></i></button>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card_photo">
                                <img src="/icons/upload.svg" alt="avatar" class="image_4">
                            </div>
                            <div class="card-footer position-relative">
                                <input type="file" name="product_images" class="product_image_4"
                                    onchange="previewFileHandler(this, 4)">
                                <button type="button" class="btn btn-success w-100 cursor-pointer"
                                    style="top:0; right: 0;"><i class="fa-solid fa-upload"></i></button>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card_photo">
                                <img src="/icons/upload.svg" alt="avatar" class="image_5">
                            </div>
                            <div class="card-footer position-relative">
                                <input type="file" name="product_images" class="product_image_5"
                                    onchange="previewFileHandler(this, 5)">
                                <button type="button" class="btn btn-success w-100 cursor-pointer"
                                    style="top:0; right: 0;"><i class="fa-solid fa-upload"></i></button>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card_photo">
                                <img src="/icons/upload.svg" alt="avatar" class="image_6" style="width: auto;">
                            </div>
                            <div class="card-footer position-relative">
                                <input type="file" name="product_images" class="product_image_6"
                                    onchange="previewFileHandler(this, 6)">
                                <button type="button" class="btn btn-success w-100 cursor-pointer"
                                    style="top:0; right: 0;"><i class="fa-solid fa-upload"></i></button>
                            </div>
                        </div>
                        <p class="text-danger">***Upload Only PNG,JPG,JPEG formatted files</p>
                    </div>

                    <a href="#product_name" class="btn btn-outline-danger align-self-start"
                        style="position: absolute;bottom: 2rem;width: 15rem;">Back</a>
                    <a href="#color" class="btn btn-outline-success align-self-end"
                        style="position: absolute;bottom: 2rem;width: 15rem;">Next</a>
                </section>
                <!--Photo Insert-->

                <!--Color choose-->
                <section id="color" class="color_choose d-flex position-relative d-flex flex-column">
                    <label class="fs-1 mb-5 form-label">Choose Phone Color</label>
                    <div class="select_color_list position-relative">
                        <select name="product_color" class="product_color form-select p-4">
                            <option value="">Colors</option>
                            <option value="Black">Black</option>
                            <option value="Blue">Blue</option>
                            <option value="Gold">Gold</option>
                            <option value="Green">Green</option>
                            <option value="Gray">Gray</option>
                            <option value="Pink">Pink</option>
                            <option value="Midnight">Midnight</option>
                            <option value="Purple">Purple</option>
                            <option value="Red">Red</option>
                            <option value="Silver">Silver</option>
                            <option value="White">White</option>
                            <option value="Yellow">Yellow</option>
                        </select>
                        <div class="colors-list position-absolute d-flex gap-1">
                            <div class="black bg-dark color"></div>
                            <div class="blue bg-primary color"></div>
                            <div class="gold bg-warning color"></div>
                            <div class="green bg-success color"></div>
                            <div class="gray bg-secondary color"></div>
                            <div class="pink bg-pink color"></div>
                            <div class="midnight bg-info-subtle color"></div>
                            <div class="purple bg-purple color"></div>
                            <div class="red bg-danger color"></div>
                            <div class="silver bg-silver color"></div>
                            <div class="white bg-light color"></div>
                            <div class="yellow color"></div>
                        </div>
                    </div>
                    <a href="#photo_insert" class="btn btn-outline-danger align-self-start"
                        style="position: absolute;bottom: 2rem;width: 15rem;">Back</a>
                    <a href="#display" class="btn btn-outline-success align-self-end"
                        style="position: absolute;bottom: 2rem;width: 15rem;">Next</a>
                </section>
                <!--Color choose-->

                <!--Display inch-->
                <section id="display" class="display_choose d-flex flex-column">
                    <div class="input-display">
                        <label for="display" class="form-label fs-1 mb-5">Display Resolution</label>
                        <input type="number" step="0.01" id="display" class="form-control p-3" name="product_display">
                        <p class="text-danger">***Only number acceptable</p>
                    </div>
                    <a href="#color" class="btn btn-outline-danger align-self-start"
                        style="position: absolute;bottom: 2rem;width: 15rem;">Back</a>
                    <a href="#core" class="btn btn-outline-success align-self-end"
                        style="position: absolute;bottom: 2rem;width: 15rem;">Next</a>
                </section>
                <!--Display inch-->

                <!--Core&Chip-->
                <section id="core" class="product_name d-flex flex-column position-relative">
                    <div class="product_name">
                        <label for="name" class="form-label fs-1 mb-5">Core & Chip</label>
                        <input type="text" name="product_core" class="form-control p-4 fs-6" id="name"
                            placeholder="ex. M2 core ">
                    </div>
                    <a href="#display" class="btn btn-outline-danger align-self-start"
                        style="position: absolute;bottom: 2rem;width: 15rem;">Back</a>
                    <a href="#memory" class="btn btn-outline-success align-self-end"
                        style="position: absolute;bottom: 2rem;width: 15rem;">Next</a>
                </section>
                <!--Core&Chip-->

                <!--Memory-->
                <section id="memory" class="product_name d-flex flex-column position-relative">
                    <div class="product_memory-data">
                        <label for="memory" class="form-label fs-1 mb-5">Product Memory Capacity</label>
                        <select name="product_memory" class="form-select p-3" id="memory">
                            <option value="128">128 GB</option>
                            <option value="256">256 GB</option>
                            <option value="512">512 GB</option>
                            <option value="1">1 TB</option>
                            <option value="2">2 TB</option>
                        </select>
                    </div>
                    <a href="#core" class="btn btn-outline-danger align-self-start"
                        style="position: absolute;bottom: 2rem;width: 15rem;">Back</a>
                    <a href="#ram" class="btn btn-outline-success align-self-end"
                        style="position: absolute;bottom: 2rem;width: 15rem;">Next</a>
                </section>
                <!--Memory-->

                <!--Ram-->
                <section id="ram" class="product_name d-flex flex-column position-relative">
                    <div class="product_memory-data">
                        <label for="memory" class="form-label fs-1 mb-5">RAM Capacity</label>
                        <select name="product_ram" class="form-select p-3" id="memory">
                            <option value="4">4 GB</option>
                            <option value="6">6 GB</option>
                            <option value="8">8 GB</option>
                            <option value="12">12 GB</option>
                            <option value="6">16 GB</option>
                            <option value="24">24 GB</option>
                        </select>
                    </div>
                    <a href="#memory" class="btn btn-outline-danger align-self-start"
                        style="position: absolute;bottom: 2rem;width: 15rem;">Back</a>
                    <a href="#camera" class="btn btn-outline-success align-self-end"
                        style="position: absolute;bottom: 2rem;width: 15rem;">Next</a>
                </section>
                <!--Ram-->

                <!--Camera-->
                <section id="camera" class="product_name d-flex flex-column position-relative">
                    <div class="product_camera-data">
                        <label for="camera" class="form-label fs-1 mb-5">Mobile Camera Mega Pixel </label>
                        <select name="product_camera" class="form-select p-3" id="camera">
                            <option value="14">14 MP</option>
                            <option value="18">18 MP</option>
                            <option value="24">24 MP</option>
                            <option value="23">23 MP</option>
                            <option value="48">48 MP</option>
                            <option value="60">60 MP</option>
                            <option value="100">100 MP</option>
                            <option value="200">200 MP</option>
                        </select>
                    </div>
                    <a href="#ram" class="btn btn-outline-danger align-self-start"
                        style="position: absolute;bottom: 2rem;width: 15rem;">Back</a>
                    <a href="#water_proof" class="btn btn-outline-success align-self-end"
                        style="position: absolute;bottom: 2rem;width: 15rem;">Next</a>
                </section>
                <!--Camera-->

                <!--Poduct Price-->
                <section id="price" class="product_name d-flex flex-column position-relative ">
                    <h1 class="fs-1 fom-label">How much your poduct costs?</h1>
                    <div class="input-group mt-5 w-50 m-auto">
                        <input type="number" step="0.001" min="100" max="4000000" name="product_price"
                            class="form-control p-3 actual_price">
                        <div class="currency">
                            $
                        </div>
                    </div>
                    <p class="text-danger position-absolute price-warning">***Only number acceptable</p>

                    <a href="#used" class="btn btn-outline-danger align-self-start"
                        style="position: absolute;bottom: 2rem;width: 15rem;">Back</a>
                    <a href="#description" class="btn btn-outline-success align-self-end"
                        style="position: absolute;bottom: 2rem;width: 15rem;">Next</a>
                </section>
                <!--Poduct Price-->
                <!--Monthly Fee-->
                <section id="monthly_fee" class="product_name d-flex flex-column position-relative">
                    <div class="product_camera-data">
                        <label for="eachFee" class="form-label fs-1 mb-5">Monthly Fee Payment Option </label>
                        <select name="product_contract" class="form-select p-3 eachFee monthly_fee" id="eachFee">
                            <option value=0>0 Month</option>
                            <option value=6>6 Months</option>
                            <option value=12>12 Months</option>
                            <option value=24>24 Months</option>
                        </select>
                        <div class="text-danger">If you do not offer monthly payment, Please choose <b>0 months</b>
                            option</div>
                        <div>Payment Per month:$ <b><span>0</span></b></div>
                    </div>
                    <a href="#price" class="btn btn-outline-danger align-self-start"
                        style="position: absolute;bottom: 2rem;width: 15rem;">Back</a>
                    <a href="#description" class="btn btn-outline-success align-self-end"
                        style="position: absolute;bottom: 2rem;width: 15rem;">Next</a>
                </section>
                <!--Monthly Fee-->

                <!--Poduct description-->
                <section id="description" class="product_description d-flex flex-column position-relative ">
                    <h1 class="fs-1 fom-label">Product Description</h1>
                    <div class="desciption_text">
                        <textarea name="product_description" class="form-control" cols="30" rows="10"></textarea>
                    </div>
                    <a href="#price" class="btn btn-outline-danger align-self-start"
                        style="position: absolute;bottom: 2rem;width: 15rem;">Back</a>
                    <button type="submit" class="btn btn-outline-success align-self-end"
                        style="position: absolute;bottom: 2rem;width: 15rem;">Add Poduct</button>
                </section>
                <!--Poduct description-->
            </form>
        </div>
        <script>
            $(".product_color").on("change", (e) => {
                $(
                    ".blue, .gold, .green, .gray, .pink, .midnight, .purple, .red, .silver, .white, .yellow, .black"
                ).css("border", "none");

                const selectedColor = e.target.value.toLowerCase();
                if (selectedColor !== "") {
                    if (selectedColor === "red") {
                        $("." + selectedColor).css("border", "4px solid blue");
                    } else {
                        $("." + selectedColor).css("border", "4px solid red");
                    }
                }
            });

            $(".demo-page-content").on("submit", (e) => {
                const product_name = $(".poduct_name").val(),
                    product_color = $(".product_color").val(),
                    product_monthly_fee = $(".monthly_fee").val(),
                    product_display = $(".product_display").val(),
                    product_core = $(".product_core").val(),
                    product_memory = $(".product_memory").val(),
                    product_ram = $(".product_ram").val(),
                    product_camera = $(".product_camera").val(),
                    product_price = $(".product_price").val(),
                    product_water_proof = $("#proofCheck").on("change", (e) =>
                        e.target.checked ? "Y" : "N"
                    ),
                    product_description = $(".product_description").val()
                if (
                    product_name === "" ||
                    product_monthly_fee === "" ||
                    product_color === "" ||
                    product_display === "" ||
                    product_core === "" ||
                    product_memory === "" ||
                    product_ram === "" ||
                    product_camera === "" ||
                    product_price === "" ||
                    product_deal === "" ||
                    product_water_proof === "" ||
                    product_second_hand === ""
                ) {
                    alert("Please, fill all blanks !");
                    return false;
                }
                return true;
            });

            function previewFileHandler(input, order) {
                const className = input.className;
                const file = $(`.${className}`)[0].files[0];
                const valid_types = ["image/jpeg", "image/png", "image/jpg", "image/webp"];
                if (!valid_types.includes(file.type)) {
                    alert("Please, Insert Valid formatted file");
                } else {
                    if (file) {
                        const reader = new FileReader();
                        reader.onload = () => {
                            $(`.image_${order}`).attr("src", reader.result);
                        };
                        reader.readAsDataURL(file);
                    }
                }
            }
            $(".actual_price").on("change", (e) => {
                if (e.target.value * 1 < 100) {
                    alert("Product Price should be higher than $100");
                    e.target.value = ""
                }
            })
            $(".eachFee").on("change", (e) => {
                const months = e.target.value * 1;
                const actual_fee = $(".actual_price").val() * 1;
                const monthlyFee = Math.floor(actual_fee / months)
                if (months > 0) {
                    e.target.parentElement.children[3].children[0].innerHTML = monthlyFee
                }
            });
        </script>
    </body>
<%-include("./includes/footer")%>