<%-include("./includes/header")%>
    <link rel="stylesheet" href="/CSS/allCompanies.css" />
    <link rel="stylesheet" href="/CSS/general.css" />
    <title>Andy Mobiles Admin Page</title>
    </head>

    <body>
        <nav class="navbar w-100">
            <div class="container d-flex justify-content-evenly">
                <div class="navbar-brand"><a href="/admin/home">Admin</a></div>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link nav-link-fade-up" aria-current="page"
                            href="/admin/home">Home</a>
                    </li>
                    <%if(member.mb_type==="ADMIN"){%>
                        <li class="nav-item">
                            <a class="nav-link nav-link-fade-up" aria-current="page"
                                href="/admin/all-companies">Companies</a>
                        </li>
                        <%}else if(member.mb_type==="COMPANY"){%>
                            <li class="nav-item">
                                <a class="nav-link nav-link-fade-up" aria-current="page"
                                    href="/admin/all-products">Products</a>
                            </li>
                        <%}%>
                                <li class="nav-item">
                                    <a class="nav-link nav-link-fade-up" href="#">Notification</a>
                                </li>
                </ul>
                <div class="avatar d-flex gap-3">
                    <img src=<%=member.mb_image? member.mb_image:"/icons/avatar_ex_3.jpg"%> alt="">
                    <i class="fa-regular fa-envelope"></i>
                    <a href="/admin/logout" class="btn btn-outline-secondary m-auto">Logout</a>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="homePage">
                <div class="homePage-title">
                    All Companies
                </div>
                <div class="table-list">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    NO
                                </th>
                                <th>
                                    Company Name
                                </th>
                                <th>
                                    Amount of Products
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Top Company
                                </th>
                                <th>
                                    Change Status
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <%[1,2,3,4,5,6].map((ele,index)=>{%>
                                <tr>
                                    <td>
                                        <%-index+1%>
                                    </td>
                                    <td>
                                        Apple
                                    </td>
                                    <td>
                                        32
                                    </td>
                                    <td>
                                        Active
                                    </td>
                                    <td class="form-check form-switch d-flex justify-content-center mt-1">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckChecked" checked>
                                    </td>
                                    <td>
                                        <select class="form-select">
                                            <option selected>Current Status</option>
                                            <option value="1">Active</option>
                                            <option value="2">DeActive</option>
                                            <option value="3">Deleted</option>
                                        </select>
                                    </td>
                                </tr>
                                <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
    <%-include("./includes/footer")%>