<%-include("./includes/header")%>
    <link rel="stylesheet" href="/CSS/allProducts.css">
    <link rel="stylesheet" href="/CSS/general.css">
    <title>Products</title>
    </head>

    <body>
        <nav class="navbar w-100">
            <div class="container d-flex justify-content-evenly">
                <div class="navbar-brand"><a href="/admin/home">Admin</a></div>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link nav-link-fade-up" aria-current="page" href="/admin/home">Home</a>
                    </li>
                    <%if(member.mb_type==="ADMIN"){%>
                        <li class="nav-item">
                            <a class="nav-link nav-link-fade-up" aria-current="page"
                                href="/admin/all-companies">Companies</a>
                        </li>
                        <%}else if(member.mb_type==="COMPANY" ){%>
                            <li class="nav-item">
                                <a class="nav-link nav-link-fade-up" aria-current="page"
                                    href="/admin/all-products">Products</a>
                            </li>
                            <%}%>
                                <li class="nav-item">
                                    <a class="nav-link nav-link-fade-up" href="#">Add Product</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link nav-link-fade-up" href="#">Notification</a>
                                </li>
                </ul>
                <div class="avatar d-flex gap-3">
                    <img src=<%=member.mb_image? member.mb_image:"/icons/avatar_ex_3.jpg"%> alt="">
                    <i class="fa-regular fa-envelope"></i>
                    <a href="/admin/logout" class="btn btn-outline-secondary m-auto">Logout</a>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="products">
                <div class="subject-title">
                    All Companies
                </div>
                <div class="table-list">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    NO
                                </th>
                                <th>
                                    Product Name
                                </th>
                                <th>
                                    Amount of Products
                                </th>
                                <th>
                                    Top Company
                                </th>
                                <th>
                                    Change Status
                                </th>
                            </tr>
                        </thead>
    
                        <tbody>
                            <%[1,2,3,4,5,5,6].map((ele,index)=>{%>
                                <tr>
                                    <td>
                                        <%-index+1%>
                                    </td>
                                    <td>
                                        iphone
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td class="form-check form-switch d-flex justify-content-center mt-1">
                                        <input class="form-check-input mb_top" type="checkbox" role="switch"
                                            checked>
                                    </td>
                                    <td>
                                        <select class="form-select mb_status" >
                                            <option value="ACTIVE" >Active
                                            </option>
                                            <option value="DEACTIVE" 
                                                >DeActive</option>
                                            <option value="DELETED" 
                                                >Deleted</option>
                                        </select>
                                    </td>
                                </tr>
                                <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
    <%-include("./includes/footer")%>