<%-include("./includes/header")%>
    <link rel="stylesheet" href="/CSS/homePage.css">
    <link rel="stylesheet" href="/CSS/general.css">
    <title>Home</title>
    </head>

    <body>
        <nav class="navbar w-100">
            <div class="container d-flex justify-content-evenly">
                <div class="navbar-brand"><a href="/admin/">Admin</a></div>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link nav-link-fade-up" id="active" aria-current="page" href="/admin">Home</a>
                    </li>
                    <%if(member.mb_type==="ADMIN"){%>
                        <li class="nav-item">
                            <a class="nav-link nav-link-fade-up" aria-current="page"
                                href="/admin/companies/?order=ALL">Companies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-fade-up" aria-current="page"
                                href="/admin/all-users/?order=ALL">Users</a>
                        </li>
                        <%}else if(member.mb_type==="COMPANY" ){%>
                            <li class="nav-item">
                                <a class="nav-link nav-link-fade-up" aria-current="page"
                                    href="/admin/products/?order=ALL">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-fade-up" aria-current="page"
                                    href="/admin/create-product">Add Product</a>
                            </li>
                            <%}%>
                                <li class="nav-item">
                                    <a class="nav-link nav-link-fade-up" href="/admin/notifications">Notification</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link nav-link-fade-up" href="/admin/my-page">My Page</a>
                                </li>
                </ul>
                <div class="avatar d-flex gap-3 align-items-center">
                    <a href="/admin/my-page">
                        <img src=<%-member.mb_image? `../${member.mb_image}`:"/icons/default_user.svg"%>
                        class="avatar_img"
                        alt="">
                    </a>
                    <a href="/admin/notifications" class="position-relative nav-item text-dark">
                        <i class="fa-regular fa-envelope"></i>
                        <span class="position-absolute top-0 start-100 translate-middle p-2 bg-success border border-light rounded-circle">
                        
                        </span>
                    </a>
                    <a href="/admin/logout" class="btn btn-outline-secondary m-auto">Logout</a>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <h1 class="text-center home-title navbar-brand">Welcome to Admin Page</h1>
            <div class="new_footer_top">
                <div class="footer_bg">
                    <div class="footer_bg_one"></div>
                    <div class="footer_bg_two"></div>
                </div>
            </div>
        </div>
    </body>
    <%-include("./includes/footer")%>