<%include("./includes/header")%> 
<link rel="stylesheet" href="/CSS/notify.css">
<link rel="stylesheet" href="/CSS/general.css">
</head>
<body>
    <div class="container">
        <h1>Notification</h1>
    </div>
</body>
<%include("./includes/footer")%> 