ol,
ul {
  list-style: none;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: #4b5563;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.demo-page {
  margin: 0 auto;
  display: flex;
  max-width: 55em;
}

.demo-page .demo-page-navigation {
  width: 18em;
  padding: 2em 1em;
}

@media only screen and (max-width: 750px) {
  .demo-page .demo-page-navigation {
    display: none;
  }
}

.demo-page .demo-page-navigation nav {
  position: sticky;
  top: 2em;
  background: #fff;
  padding: 0.5em;
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.demo-page .demo-page-navigation a {
  display: flex;
  padding: 0.75em 1em;
  text-decoration: none;
  border-radius: 0.25em;
  color: #374151;
  align-items: center;
}

.demo-page .demo-page-navigation a:hover {
  background: #f3f4f6;
}

.demo-page .demo-page-navigation a svg {
  width: 1.25em;
  height: 1.25em;
  margin-right: 1em;
  color: #1f2937;
}

.demo-page .demo-page-content {
  padding: 2em 1em;
  max-width: 100%;
}

@media only screen and (min-width: 750px) {
  .demo-page .demo-page-content {
    width: calc(100% - 18em);
  }
}

section {
  width: 700px;
  background: #fff;
  padding: 2em;
  border-radius: 0.75rem;
  line-height: 1.6;
  overflow: hidden;
  margin-bottom: 2rem;
  position: relative;
  font-size: 0.875rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.product_name, .color_choose,.display_choose{
  height: 50vh;
}
.photo_insert{
  height: 94vh;
}
.product_secondhand{
  height: 40vh;
}
.price-warning{
  top:50%;
  left: 30%;
}


section h1 {
  font-weight: 500;
  font-size: 1.25rem;
  color: #000;
  margin-bottom: 0.75rem;
}

section h1 svg {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: -10%;
  margin-right: 0.25em;
}

section h1.package-name {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  margin-top: -0.5rem;
}

section strong {
  font-weight: 500;
  color: #000;
}

section p {
  margin: 0.5rem 0 1.5rem;
}

section p a {
  text-decoration: none;
  font-weight: 500;
  color: #3b4ce2;
}

section p:last-child {
  margin-bottom: 0;
}

section code {
  font-weight: 500;
  font-family: Consolas, monaco, monospace;
  position: relative;
  z-index: 1;
  margin: 0 2px;
  background: #f3f4f4;
  content: "";
  border-radius: 3px;
  padding: 2px 5px;
  white-space: nowrap;
}

section ul {
  margin-top: 0.5em;
  padding-left: 1em;
  list-style-type: disc;
}
.cards>.card{
  width: 31%;
}
.cards .card img{
  height: 100%;
  width: 100%;
}
.cards>.card>.card_photo{
  width: 100%;
  height: 75%;
}
.cards>.card>.card-footer>input{
  opacity: 0;
  position: absolute;
  cursor: pointer;
}
.product_image{
  position: absolute;
  z-index: 10;
  top:10px;
  right: 50px;
  opacity: 1;
  width: 1px;
}
.product_description{
  height: 60vh;
}
/* Color list Select */

.colors-list{
  top:20px;
  right: 4rem;
}
.color{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.bg-pink{
  background-color: pink;
}
.bg-purple{
  background-color: purple;
}
.bg-silver{
  background-color: silver;
}
.yellow{
  background-color: yellow;
}
.currency{
  height: 100%;
  width: 50px;
  background-color: #f3f0e7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px 10px 0;
}
